# Discord Bot Configuration
DISCORD_TOKEN=MTQ1MzQzNTQzOTg3MTU2MTc1OA.G25NKg.13NWAmfiaJLaAyUP2rl47Ob7Dluffb_AWiPy-g
CLIENT_ID=1453435439871561758

# Bot Configuration
PREFIX=!
OWNER_ID=1136656775601471621

# Lavalink Configuration
LAVALINK_HOST=localhost
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false
